<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase md-4 font-weight-bold text-light">Famesbook</h5>
                <p>Hi myself Anabil Baruah im a backend developer and this is a small project which performs the basic
                    task that a regular social media web application does. Hope u like it :)</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase md-4 font-weight-bold text-light"> My socials:</h5>
                <p>
                    <a href="https://www.instagram.com/__anabil__baruah/">Instagram <i
                            class="fa-brands fa-instagram text-bold"></i></a>
                </p>
                <p>
                    <a href="https://github.com/Anabil-Baruah">Github <i class="fa-brands fa-github"></i></a>
                </p>
                <p>
                    <a href="https://www.linkedin.com/in/anabil-baruah-7a73711b9/">Linkedin <i
                            class="fa-brands fa-linkedin"></i></a>
                </p>

            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase md-4 font-weight-bold text-light"> Contact me:</h5>
                <p> +91 8822501465</i> <i class="fa-solid fa-phone"></i></p>
                <p class="row"></i>anabilbaruah2801@gmail.com </i></p>
            </div>
        </div>
    </div>
</footer>

</body>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/script.js"></script>
<script src="js/main.min.js"></script>
<!-- <script src="js/socket.io.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</html>