<%- include('includes/header')%>
<link rel="stylesheet" href="/CSS/404_style.css">
<body>

    <div class="error_container">
        <div class="error_block">
            <h1>404</h1>
            <h3>Oops... Page Not Found!</h3>
            <p>Try using the button below to go to main page of the site</p>
            <a href="/"><input type="button" class="error_btn" value="BACK TO PAGE"></a>
        </div>
    </div>

</body>

<%- include('includes/footer')%>