<%- include('includes/header')%>
<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row" id="page-contents">
                        <div class="col-md-3">
                            <%- include('includes/left-slidebar')%>
                        </div>
                        <div class="col-md-6">
                            <div class="central-meta">
                                <div class="editing-interest">
                                    <h5 class="f-title">
                                        <i class="fa-solid fa-gear"></i> Settings
                                    </h5>
                                    <div class="setting-box">
                                        <ul id="all-notifications">
                                            <li><i class="fa-solid fa-rectangle-history"></i><i class="fa-sharp fa-solid fa-clock"></i>   Profile History</li>
                                            <li><a href="/settings/updateProfile"><i class="fa-solid fa-user-pen"></i> Edit Profile</a></li>
                                            <li><i class="fa-solid fa-check"></i> Activity Status</li>
                                            <li> <a href="/settings/passChange"><i class="fa-solid fa-unlock"></i> Change Password </a></li>
                                            <li><a href="/settings/logout"> <i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('includes/footer')%>